html {
  font-size: 62.5%;
}

@media (max-width: 18.75em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 62.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p,
a {
  font-size: 2rem;
}

.primary-heading {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 75em) {
  .primary-heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 56.25em) {
  .primary-heading {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .primary-heading {
    font-size: 2.5rem;
  }
}

.secondary-heading {
  font-size: 3.5rem;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 75em) {
  .secondary-heading {
    font-size: 3rem;
  }
}

@media (max-width: 56.25em) {
  .secondary-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .secondary-heading {
    font-size: 2rem;
  }
}

.tertiary-heading {
  font-size: 3rem;
  text-transform: capitalize;
}

@media (max-width: 75em) {
  .tertiary-heading {
    font-size: 2.8rem;
  }
}

@media (max-width: 56.25em) {
  .tertiary-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .tertiary-heading {
    font-size: 1.8rem;
  }
}

.main-text {
  font-size: 2.5rem;
}

@media (max-width: 75em) {
  .main-text {
    font-size: 2.2rem;
  }
}

@media (max-width: 56.25em) {
  .main-text {
    font-size: 2rem;
  }
}

@media (max-width: 37.5em) {
  .main-text {
    font-size: 1.6rem;
  }
}

.footer-text {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}

@media (max-width: 56.25em) {
  .footer-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 37.5em) {
  .footer-text {
    font-size: 1rem;
  }
}

.center-section {
  padding: 0rem 10rem;
}

@media (max-width: 75em) {
  .center-section {
    padding: 0rem 7.5rem;
  }
}

@media (max-width: 56.25em) {
  .center-section {
    padding: 0rem 5rem;
  }
}

@media (max-width: 37.5em) {
  .center-section {
    padding: 0rem 2.5rem;
  }
}

.capitalize {
  text-transform: capitalize;
}

.text-highlight {
  color: #019af3;
}

.center-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-cta {
  display: inline-block;
  background-color: #000061;
  color: white;
  padding: 2rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1rem;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 75em) {
  .btn-cta {
    padding: 1.75rem 3.5rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 56.25em) {
  .btn-cta {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
  }
}

.btn-cta:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn-cta:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.guarantee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .guarantee {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    grid-row-gap: 2.5rem;
    justify-items: center;
  }
}

.guarantee-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-row-gap: 2rem;
}

.guarantee-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 2rem;
}

@media (max-width: 37.5em) {
  .guarantee-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.guarantee-item-icon {
  height: 5rem;
  width: 5rem;
  fill: yellow;
}

@media (max-width: 75em) {
  .guarantee-item-icon {
    height: 4rem;
    width: 4rem;
  }
}

@media (max-width: 56.25em) {
  .guarantee-item-icon {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 37.5em) {
  .guarantee-item-icon {
    display: none;
  }
}

.guarantee-image-file {
  height: 30rem;
  width: 30rem;
}

@media (max-width: 75em) {
  .guarantee-image-file {
    height: 28rem;
    width: 28rem;
  }
}

@media (max-width: 56.25em) {
  .guarantee-image-file {
    height: 25rem;
    width: 25rem;
  }
}

@media (max-width: 37.5em) {
  .guarantee-image-file {
    height: 22.5rem;
    width: 22.5rem;
  }
}

@media (max-width: 37.5em) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .navigation-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    grid-row-gap: 1rem;
    justify-items: center;
  }
}

.navigation-logo {
  height: 10rem;
  width: 10rem;
}

@media (max-width: 75em) {
  .navigation-logo {
    height: 9rem;
    width: 9rem;
  }
}

@media (max-width: 56.25em) {
  .navigation-logo {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-width: 37.5em) {
  .navigation-logo {
    height: 7rem;
    width: 7rem;
  }
}

.acquisition {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  padding: 10rem 0rem;
}

@media (max-width: 75em) {
  .acquisition {
    padding: 7.5rem 0rem;
  }
}

@media (max-width: 56.25em) {
  .acquisition {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    grid-row-gap: 5rem;
    justify-items: center;
    padding: 5rem 0rem;
  }
}

@media (max-width: 37.5em) {
  .acquisition {
    padding: 2.5rem 0rem;
  }
}

.acquisition-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acquisition-image-file {
  height: 30rem;
  width: 30rem;
}

@media (max-width: 75em) {
  .acquisition-image-file {
    height: 25rem;
    width: 25rem;
  }
}

@media (max-width: 75em) {
  .acquisition-image-file {
    height: 22.5rem;
    width: 22.5rem;
  }
}

.acquisition-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem;
}

@media (max-width: 75em) {
  .acquisition-text {
    grid-row-gap: 4.5rem;
  }
}

@media (max-width: 56.25em) {
  .acquisition-text {
    grid-row-gap: 3.5rem;
  }
}

@media (max-width: 37.5em) {
  .acquisition-text {
    grid-row-gap: 2.5rem;
  }
}

.section-case {
  background-color: #d6f0ff;
  padding: 5rem 0rem;
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 75em) {
  .section-case {
    padding: 4rem 0rem;
  }
}

@media (max-width: 56.25em) {
  .section-case {
    padding: 3rem 0rem;
  }
}

@media (max-width: 37.5em) {
  .section-case {
    padding: 2rem 0rem;
  }
}

.case {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .case {
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 2rem;
  }
}

.case-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 2.5rem;
}

@media (max-width: 75em) {
  .case-text {
    grid-row-gap: 2rem;
  }
}

@media (max-width: 56.25em) {
  .case-text {
    grid-row-gap: 1.5rem;
  }
}

@media (max-width: 37.5em) {
  .case-text {
    grid-row-gap: 1rem;
  }
}

@media (max-width: 56.25em) {
  .case-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact {
  padding: 10rem 0rem;
}

@media (max-width: 75em) {
  .contact {
    padding: 7.5rem 0rem;
  }
}

@media (max-width: 56.25em) {
  .contact {
    padding: 5rem 0rem;
  }
}

@media (max-width: 37.5em) {
  .contact {
    padding: 2.5rem 0rem;
  }
}

.facebook {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  padding: 10rem 0rem;
}

@media (max-width: 75em) {
  .facebook {
    padding: 7.5rem 0rem;
  }
}

@media (max-width: 56.25em) {
  .facebook {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    grid-row-gap: 5rem;
    justify-items: center;
    padding: 5rem 0rem;
  }
}

@media (max-width: 37.5em) {
  .facebook {
    padding: 2.5rem 0rem;
  }
}

.facebook-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .facebook-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.facebook-image-file {
  height: 30rem;
  width: 30rem;
}

@media (max-width: 75em) {
  .facebook-image-file {
    height: 25rem;
    width: 25rem;
  }
}

@media (max-width: 75em) {
  .facebook-image-file {
    height: 15rem;
    width: 15rem;
  }
}

.facebook-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem;
}

@media (max-width: 56.25em) {
  .facebook-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media (max-width: 75em) {
  .facebook-text {
    grid-row-gap: 4.5rem;
  }
}

@media (max-width: 56.25em) {
  .facebook-text {
    grid-row-gap: 3.5rem;
  }
}

@media (max-width: 37.5em) {
  .facebook-text {
    grid-row-gap: 2.5rem;
  }
}

.footer {
  background-color: #000061;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
    grid-row-gap: 1.5rem;
    justify-items: center;
    padding: 1.5rem;
  }
}

.footer-copyright, .footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1.5rem;
  justify-items: center;
}

@media (max-width: 37.5em) {
  .footer-copyright, .footer-links {
    grid-row-gap: 1rem;
  }
}

.footer-socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2.5rem;
}

@media (max-width: 37.5em) {
  .footer-socials {
    grid-column-gap: 1.5rem;
  }
}

#facebook-icon,
#instagram-icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 56.25em) {
  #facebook-icon,
  #instagram-icon {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 37.5em) {
  #facebook-icon,
  #instagram-icon {
    height: 2rem;
    width: 2rem;
  }
}

#facebook-icon:hover {
  fill: #4267b2;
}

#instagram-icon:hover {
  fill: #f56040;
}

.section-guarantee {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  padding: 10rem 5rem;
}

.hero-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  justify-items: center;
}

.leads {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  padding: 10rem 0rem;
}

@media (max-width: 75em) {
  .leads {
    padding: 7.5rem 0rem;
  }
}

@media (max-width: 56.25em) {
  .leads {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    grid-row-gap: 5rem;
    justify-items: center;
    padding: 5rem 0rem;
  }
}

@media (max-width: 37.5em) {
  .leads {
    padding: 2.5rem 0rem;
    grid-row-gap: 1rem;
  }
}

.leads-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leads-image-file {
  height: 30rem;
  width: 30rem;
}

@media (max-width: 75em) {
  .leads-image-file {
    height: 25rem;
    width: 25rem;
  }
}

@media (max-width: 75em) {
  .leads-image-file {
    height: 22.5rem;
    width: 22.5rem;
  }
}

.leads-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem;
}

@media (max-width: 75em) {
  .leads-text {
    grid-row-gap: 4.5rem;
  }
}

@media (max-width: 56.25em) {
  .leads-text {
    grid-row-gap: 3.5rem;
  }
}

@media (max-width: 37.5em) {
  .leads-text {
    grid-row-gap: 2.5rem;
  }
}

.section-navigation {
  padding: 2.5rem;
}
/*# sourceMappingURL=main.css.map */