html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p,
a {
  font-size: 2rem;
}

.primary-heading {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}

.tertiary-heading {
  font-size: 3rem;
  text-transform: uppercase;
}

.main-text {
  font-size: 2.5rem;
}

.center-section {
  padding: 0rem 10rem;
}

.capitalize {
  text-transform: capitalize;
}

.text-highlight {
  color: #019af3;
}

.btn-cta {
  display: inline-block;
  background-color: #000061;
  color: white;
  padding: 2rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1rem;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-cta:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn-cta:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.guarantee {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guarantee-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-row-gap: 2rem;
}

.guarantee-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 2rem;
}

.guarantee-item-icon {
  height: 5rem;
  width: 5rem;
  fill: yellow;
}

.guarantee-image-file {
  height: 30rem;
  width: 30rem;
}

.navigation-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-logo {
  height: 10rem;
  width: 10rem;
}

.acquisition {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  padding: 10rem 0rem;
}

.acquisition-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acquisition-image-file {
  height: 30rem;
  width: 30rem;
}

.acquisition-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem;
}

.section-case {
  background-color: #dfdfdf;
  padding: 5rem 0rem;
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
}

.case {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 2.5rem;
}

.facebook {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  padding: 10rem 0rem;
}

.facebook-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facebook-image-file {
  height: 30rem;
  width: 30rem;
}

.facebook-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem;
}

.section-guarantee {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  padding: 10rem 5rem;
}

.hero-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  justify-items: center;
}

.section-navigation {
  padding: 2.5rem;
}
/*# sourceMappingURL=main.css.map */