.contact {
  padding: 10rem 0rem;

  @include respond(tab-land) {
    padding: 7.5rem 0rem;
  }
  @include respond(tab-port) {
    padding: 5rem 0rem;
  }
  @include respond(phone-big) {
    padding: 2.5rem 0rem;
  }
}
